/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}
body {
  background: black;
  color: white;
  text-align: center;
  margin: 10px auto;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
}

#pokeImg1{
  width: 125px;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
